<div class="bg-gradient card p-2">
    <h1>{{title}}</h1>
<!--display the pet information-->
</div>

<div>
    {{#if pet}}
        <h2 class="text-bg-success">Pet# {{pet.license}}</h2>
        <div>
            <p>Pet Name: {{pet.petname}}</p>
        </div>
        <div>
            <p>Owner Name: {{pet.ownername}}</p>
        </div>
        <div>
            <p>Pet Type: {{pet.pettype}}</p>
        </div>
        <div>
            <img src="/images/{{pet.petimage}}"/>
        </div>
    {{else}}
        <h2 class="text-danger">Pet Not Found</h2>
    {{/if}}
</div>


<div class="bg-gradient card p-2">
    <h2> Recently Added Pets</h2>
    <!-- Display the pet names from the session in a link to this page that sends the 'licence' in the query string  -->
    {{#each licenseArray}}
        <div>
            <p><a href="/pets/view?license={{this.license}}"{{this.name}}</p>
        </div>
    {{/each}}

</div>
<!--you can delete the div below-->
<div class="card p-2 mt-2 bg-dark">
    <h2>Pets View</h2>
    <h2>Pets View</h2>
    <h3>In pets-view.hbs: </h3>
    <ol>
        <li>Review the GET handler for '/view' in  registry.js - you only need to edit the pets-view.hbs file  </li>
        <li>if the 'license' is passed in the query string,
            Display all information about the pet:  license, ownername, petname, pettype, petimage [2 marks]</li>
        <li>petimage contains the name of a file in the public/images folder - you MUST display the image
            <a target="_blank" href="https://www.w3schools.com/tags/tag_img.asp"> using an img tag</a> [3 marks] </li>
        <li>if license is not passed or is not found then display 'Pet Not Found' message [1 mark]</li>
        <li>Display a list pet names from the session [1 mark]</li>
        <li>The pet name should be in a link to pet view [to this page] that sends the 'license' query string parameter
            <br/>- clicking the pet name will display the pet's information</li>
    </ol>
</div>
<script>
    window.onload = function(){
        let license="{{pet.license}}";
        createCookie("license", license);

    let delimiter = "---";

    function createCookie(name, value, days, path, domain, secure) {

        cookieString= name + "=" + value + "+";
        document.cookie=cookieString;

    }

    function getCookie(name) {

        let nameEquals = name + "=";
        let whole_cookie=document.cookie.split(nameEquals)[1].split("+")[0]; // get only the value of the cookie we need
                                                                             // (split by the name=, take everything after the name= and then split it by ";" and take everything before the ";")
        let crumbs=whole_cookie.split(delimiter); // split now our cookie in its information parts
        /*for (let i = 0; i<crumbs.length; i++) {
            let crumb = crumbs [i];
            if (crumb.indexOf(nameEquals) == 0) {

            return unescape (crumb.substring(nameEquals.length, crumb.length));
            }
        }*/ // sorry... i dont understand what this does ;) but it works without it
        return crumbs; // return the information parts as an array
    }

    function deleteCookie(name){
        createCookie(name, "", -1);
    }

    // ---------------------
    // DEBUGGING PART STARTS
    // ---------------------

        let licenseArray=getCookie("license");

        for (let i = 0; i < licenseArray.length; i++)
        {
            license = license+delimiter+licenseArray[i];
        }

    createCookie("license", license);

    // ---------------------
    // DEBUGGING PART ENDS
    // ---------------------
    }
</script>
